footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #dadada;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  .footer-text {
    text-align: center;
    font-weight: 300;
    font-size: 12px;
  }
  