.provider-request-card {
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 1%;
  margin-bottom: 12px
}
.provider-request-card-head {
  display: flex;
  justify-content: space-between;
}
.provider-request-card-head-left {
  display: flex;
  gap: 10px;
}
.provider-request-card-head-left-info p {
  margin-bottom: 3px;
}
.provider-request-card-head-left-img {
  width: 66px;
  height: 66px;
  position: relative;
}
.empty-profile-pic {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #f0f0f0;
  font-size: 20px;
  font-weight: 600;
}
.provider-request-card-head-left-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
}

.provider-request-card-head-left-info {
  display: flex;
  flex-direction: column;
}

.provider-request-card-head-right {
  margin-left: 20%;
  flex-grow: 1;
}

.booking-details-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2px;
}

.booking-details-row-key {
  font-weight: 600;
}

@media screen and (max-width: 785px) {
  .carousel-img {
    object-position: 50% 50%;
  }
}
